@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #F2C12E;
    min-height: 100vh;
    max-width: 100vw;
}
.section{
    margin-bottom: 20px;
}
header{
    width: 45%;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    padding: 10px;
    background-color: #262626;
    color: #F2C12E;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width: 50%;
    margin: 0 auto;
    padding: 2px;
}
main #inome{
    background-color: #ffde7b;
    border: none;
    padding: 3px 9px;
    outline: none;
    font-size: 2em;
    width: 80%;
}

#lista{
    width: 90%;
}

#lista li{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.795);
    /* transition: all 0.2s ease-out; */
}
#lista li:hover{
    cursor: pointer;
    background-color: #262626;
    color: #F2C12E;
}

#lista li.concluido{
    background-color: #262626;
    color: #ac8a24;
}
#lista li p{
    width: 80%;
    overflow-x: hidden;
    font-size: 2em;
    font-weight: 500;
    margin-right: 20px;
    margin-left: 20px;
}
#lista li p.concluido{
    text-decoration: line-through;
}
#lista input{
    width: 30px;
    height: 30px;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: #ffde7b;
    padding: 10px 15px;
}
input[type="checkbox"]:hover{
    cursor: pointer;
}

label{
    font-size: 2em;
}

button{
    width: 70px;
    height: 30px;
    background-color: rgb(253, 253, 253);
}
button:hover{
    cursor: pointer;
    border: 2px solid lightblue;
    font-weight: bold;
}