@charset "UTF-8";

:root{
    --corBorda:brown;
    --corSombra:rgba(161, 78, 0, 0.582);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    width: 100vw;
}

body{
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.slideContainer{
    display: flex;
    justify-content: space-between;

    position: relative;

    background-color: rgb(0, 3, 26);
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 0px 0px 40px var(--corSombra), 0px 2px 3px var(--corBorda),0px -2px 3px var(--corBorda), 2px 0px 3px var(--corBorda), -2px 0px 3px var(--corBorda);
}

.actionButton{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    z-index: 1;

    height: 100%;
    padding: 0px 5px;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.582);

    transition: all 0.3s;
    user-select: none;
}

#previous{
    border-radius: 10px 0px 0px 10px;
}
#next{
    border-radius: 0px 10px 10px 0px;
}

.actionButton:hover{
    font-size: 30px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.63);
}

.containerItens{
    position: absolute;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;

    display: flex;
    overflow: hidden;
}

.item{
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    transition: all 0.5s;
}

.item img{
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
}

.item:first-child{
    margin-left: -100%;
}

#botao{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 100%;
    font-weight: bold;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.144);
    color: white;

    cursor: pointer;
    transition: all .5s;
}

#botao:hover{
    background-color: white;
    color: black;
}

input[type='radio']{
    display: none;
}

.custom-radio{
    border: 1px solid #ffffff6c;
    width: 12px;
    height: 12px;
    display: grid;
    place-content: center;
    border-radius: 50%;
}

.custom-radio, span{
    transition: all 0.5s ease;
    color: #fff;
}

.custom-radio span {
    content: '';
    width:8px;
    height:8px;
    background-color: #ffffff6c;
    border-radius: 50%;
}

input[type='radio']:checked + .custom-radio {
    border-color: rgb(255, 255, 255);
}

input[type='radio']:checked + .custom-radio span{
    background: rgb(255, 255, 255);
}

.radio-wrapper{
    display: flex;
    gap: 10px;
}